{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}


<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <h1>Protect Network Communication</h1>
                <p>Consul registers service identities for each application layer in a central catalog. When a
                    service comes online, a TLS certificate ensures secure connectivity with the rest of the
                    mesh. To establish and accept connection to and from other services, an mTLS connection is required,
                    this is accomplished through the client service verifying the destination service certification
                    against a trusted CA bundle.
                </p>
                <br>
                <img src="{{ url_for('static', filename='img/uc-03-section-02.svg') }}" alt="Vault">
                <span class="tooltiptext" id="tooltiptext">Centralize Private Key</span>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_03_section_01') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_03_section_03') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}