{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <h1>Automate with HCP Packer and Terraform</h1>
                <p>With HCP Packer, consumers inherit standards and do not need to make *every*
                    technology decision for the images that support their deployments.</p>
                <br>
                <img src="{{ url_for('static', filename='img/uc-01-terraform_deploy_instance.svg') }}" alt="Vault">
                <span class="tooltiptext" id="tooltiptext">Controlled deployment</span>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_01_section_02') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_01_summary') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}