{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <h1>Stage 02: Unrestricted Privileges</h1>
                <p>The attacker is able to traverse the networks and systems with with the
                    help of planted RATS and network probing.
                </p>
                <br>
                <img src="{{ url_for('static', filename='img/aoab-stage-2.svg') }}" alt="Vault">
                <span class="tooltiptext" id="tooltiptext">The attacker is able to traverse the networks and
                    systems</span>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_01_section_01') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_01_section_03') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}