{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">

        <div class="explainer-wrapper">
            <div class="explainer" style="--splash-delay: 1;">
                <h1>HashiCorp Consul</h1>
                <p>Ensure all service to service communication is authenticated, authorized, and encrypted.</p>

            </div>
            <div class="explainer" style="--splash-delay: 3">
                <p>Create a central registry that tracks services, updates, and health statuses in real time.
                </p>
            </div>
        </div>

        <div class="explainer-wrapper">
            <div class="explainer" style="--splash-delay: 1;">
                <img src="{{ url_for('static', filename='img/uc-03-example.svg') }}" alt="Vault">
                <span class="tooltiptext" id="tooltiptext">Vault authentication and authorization chain</span>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_03_challenge') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_03_section_02') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}