<!--
 Copyright IBM Corp. 2022, 2024
 SPDX-License-Identifier: MPL-2.0
-->

{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">
        <div class="slide-content">

            <div class="explainer-wrapper">
                <h1>Centralization of Secrets</h1>
                <p>Vault acts as a secret storage to protect against attacks involving credential
                    access. Using the secrets engines teams can quickly store secrets and retrieve sensitive
                    information. Workflows can be orchestrated with stored secrets for creation of dynamic credentials,
                    certifying transactions, and privilege access management.
                </p>
                <br>
                <img src="{{ url_for('static', filename='img/uc-02-workflow.svg') }}" alt="Vault">
                <span class="tooltiptext" id="tooltiptext">Centralize Private Key</span>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('uc_02_section_01') }}">
    <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
</a>
{% endblock %}


{% block next_page %}
<a href="{{ url_for('uc_02_section_03') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
</a>
{% endblock %}